version: '3'

services:
  webappjs:
    build:
      context: ./webappjs
      dockerfile: Dockerfile
    image: rconway/webappjs
    container_name: webappjs
    restart: unless-stopped
    networks:
      - app-network
  webserver:
    image: nginx:mainline-alpine
    container_name: webserver
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - web-root:/var/www/html
      - ./nginx-conf:/etc/nginx/conf.d
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - dhparam:/etc/ssl/certs
    depends_on:
      - webappjs
    networks:
      - app-network
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/html
    depends_on:
      - webserver
    command: certonly --webroot --webroot-path=/var/www/html --email richard@rconway.co.uk --agree-tos --no-eff-email -d rconway.co.uk  -d api.rconway.co.uk

volumes:
  certbot-etc:
  certbot-var:
  web-root:
    driver: local
    driver_opts:
      type: none
      device: /home/rconway/https-node/webappjs/dist/views/
      o: bind
  dhparam:
    driver: local
    driver_opts:
      type: none
      device: /home/rconway/https-node/dhparam/
      o: bind

networks:
  app-network:
    driver: bridge

